* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    padding: 0 0.1rem;
}

.logo {
    width: 50%;
    height: 50px;
    padding-left: 0.8rem;
}

.qtdProdutos {
    position: absolute;
    top: 20.1px;
    right: 12px;
    width: 19.1px;
    height: 21.2px;
    font-size: 17px;
    border-radius: 60%;
    background: #ff3333;
    text-align: center;
    color: #ffffff;
    border: 1.5px solid #000000;
    font-weight: bold;
    padding-bottom: 15px;
}

.itens {
    padding-top: 5%;
    padding-bottom: 7%;
    width: 100%;
    height: 2.2rem;
    padding-left: 9%;
    color: rgb(144, 144, 144);

}

.imagem {
    font-weight: bold;
}

.legenda {
    text-align: center;
    font-size: 18.8px;
}

.preco {
    padding-top: 4px;
    font-weight: lighter;
    text-align: center;
    font-size: 18px;
}

.img1 {
    width: 350px;
    height: 490px;
}

.img2 {
    width: 350px;
    height: 490px;
}

.img3 {
    width: 350px;
    height: 490px;
}

.img4 {
    width: 350px;
    height: 490px;
}

.img5 {
    width: 350px;
    height: 490px;
}

.img6 {
    width: 350px;
    height: 490px;
}

.img7 {
    width: 350px;
    height: 490px;
}

.img8 {
    width: 350px;
    height: 490px;
}

.img9 {
    width: 350px;
    height: 490px;
}

.img10 {
    width: 350px;
    height: 490px;
}

.img11 {
    width: 350px;
    height: 490px;
}

.img12 {
    width: 350px;
    height: 490px;
}


.container {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
}

#nav-icons {
    color: black;
    padding-left: 1rem;
    font-size: 26px;
}

footer {
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255);
    color: rgb(34, 34, 34);
    font-size: 14px;
    padding-bottom: 4px;
    box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
}